<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>647489145856-0j98c24d1hckb096vafm91rph1b9cpes.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.647489145856-0j98c24d1hckb096vafm91rph1b9cpes</string>
	<key>API_KEY</key>
	<string>AIzaSyCb-mLQfnZnUjuVpV7PFi4BYPZwB1sKNXI</string>
	<key>GCM_SENDER_ID</key>
	<string>647489145856</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.crudFirebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>crudflutter-a8b8b</string>
	<key>STORAGE_BUCKET</key>
	<string>crudflutter-a8b8b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:647489145856:ios:2348dbdb51e3f765f35ce5</string>
</dict>
</plist>